.main-navigation {
	display: block;
	width: 100%;


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: black;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle{
	padding:0;
	transition: transform .25s;
	transform: rotate(0deg);
	border : 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background: #f7f8fa;
}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}

.main-navigation.toggled .menu-toggle{
	transform: rotate(90deg);
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}



/*-------------------------------------------
MENU TABLETTE
--------------------------------------------*/
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none; 
	}

	.main-navigation ul {
		display: flex;
		position: static;
		justify-content: space-around;
	}
}






.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

  
  /* --------------------------------------------------------------------------------------
  Les variables 
  ---------------------------------------------------------------------------------------- */
  /*---------------------------------------------------------------------------------------
  Le bouton buger
  ----------------------------------------------------------------------------------------- */
  #burger {
	position: relative;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	overflow: hidden;
  }
  
  #burger div {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
  }
  
  #burger div:nth-of-type(1) {
	background-color: #3ddada;
	clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
  }
  
  #burger div:nth-of-type(2) {
	background-color: #3d79da;
	clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  
  #burger div:nth-of-type(3) {
	background-color: #dab03d;
	clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  
  /* -----------------------------------------------------------------------------------
  La barre du haut
  -------------------------------------------------------------------------------------- */
  @keyframes ouvreX1 {
	0% {
	  clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
	}
	100% {
	  clip-path: polygon(8% -8%, 108% 92%, 92% 108%, -8% 8%);
	}
  }
  
  @keyframes fermeX1 {
	0% {
	  clip-path: polygon(8% -8%, 108% 92%, 92% 108%, -8% 8%);
	}
	100% {
	  clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%);
	}
  }
  
  .ouvreX1 {
	animation: ouvreX1 0.1s both;
  }
  
  .fermeX1 {
	animation: fermeX1 0.1s both;
  }
  
  /* -----------------------------------------------------------------------------------
  La barre du bas
  -------------------------------------------------------------------------------------- */
  @keyframes ouvreX3 {
	0% {
	  clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	100% {
	  clip-path: polygon(-8% 92%, 92% -8%, 108% 8%, 8% 108%);
	}
  }
  
  @keyframes fermeX3 {
	0% {
	  clip-path: polygon(-4% 96%, 96% -4%, 104% 4%, 4% 104%);
	}
	100% {
	  clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
  }
  
  .ouvreX3 {
	animation: ouvreX3 0.1s both;
  }
  
  .fermeX3 {
	animation: fermeX3 0.1s both;
  }
  
  /* -----------------------------------------------------------------------------------
  La barre du millieu
  -------------------------------------------------------------------------------------- */
  @keyframes ouvreX2 {
	0% {
	  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
	}
	100% {
	  clip-path: polygon(48% 48%, 52% 48%, 52% 52%, 48% 52%);
	}
  }
  
  @keyframes fermeX2 {
	0% {
	  clip-path: polygon(48% 48%, 52% 48%, 52% 52%, 48% 52%);
	}
	100% {
	  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
	}
  }
  
  .ouvreX2 {
	animation: ouvreX2 0.1s both;
  }
  
  .fermeX2 {
	animation: fermeX2 0.1s both;
  }



  /*--------------------ANIMATION TITRE -------------------------*/




@keyframes animatetitle{
0%{
	transform :translateY(-500px) ;
	
}
50%{
	transform :translateY(50px) scaleY(2) ;
	
}
100%{
	transform : scaleY(1) ;

}
}

.site-title{
animation: animatetitle 4s;
}

  /*# sourceMappingURL=style.css.map */
