.main-navigation {
	display: block;
	width: 100%;


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: rgb(7, 0, 0);
		opacity: 1;
		text-align: left .5s;

		ul {
			box-shadow: 0 3px 3px rgb(100, 98, 98);
			float: left;
			position: absolute;
			top: 100%;
			transition: left .5s;
			left: -999em;
			z-index: 99999;
			

			ul {
				left: -999em;
				top: 0;
				
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			
			}

		
			a {
				width: 100%;
			}

		/*	:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}*/
		}

		

		li:hover > ul,
		li.focus > ul {
			left: 0;
		}
	}

	li {
		position: relative;
		
	}
	a[href='#']::after{
	position:absolute;
	content: "+";
	width: 100%;
	height:100%;
	top:0;
	bottom:0;
	left:100%;
	right:0;
	

	}

	li.focus a[href='#']::after,
	a[href='#']:hover::after{
		content: "-";
	}
}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}


/* Small menu. */
.menu-toggle{
	padding:0;
	transition: transform .25s;
	transform: rotate(0deg);
	border : 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background: #f7f8fa;

}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}

.main-navigation.toggled .menu-toggle{
	transform: rotate(90deg);
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	li{
		a{
			&[href="#"]::after{
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				left:95%;
				right:0 ;
			}
		}
	}
	li.focus a[href="#"]::after{
		content: "2\2B9F";
	}
}



/*-------------------------------------------
MENU TABLETTE
--------------------------------------------*/
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none; 
		
	}

	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		position: static;
		height: 2rem;
		width: 100vw;
		height:50px;
		align-items:center;
		justify-content: space-around;
		a[href='#']::after{
			display: none;
		}

		
		li:hover ul{
			display: block;
			width:200px;
			height: 450px;

		}
		ul{
			display: none;
			width:400px;
		}
	}
 
	.essai{
		display:block
	}
	.menu-toggle{
		display: none;
	}
	.line {
		display: none;
	  }
	  .line1 {
		display: none;
	  }
	  .line2 {
		display: none;
	  }
	  .line3 {
		display:none;
	  }
	 
	
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

  
  /* --------------------------------------------------------------------------------------
  Les variables 
  ---------------------------------------------------------------------------------------- */
  /*---------------------------------------------------------------------------------------
  Le bouton buger
  ----------------------------------------------------------------------------------------- */
  

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}



  
  

  /*--------------------ANIMATION TITRE -------------------------*/




@keyframes animatetitle{
0%{
	transform :translateY(-500px) ;
	
}
50%{
	transform :translateY(50px) scaleY(2) ;
	
}
100%{
	transform : scaleY(1) ;

}
}

.site-title{
animation: animatetitle 4s;
}

  /*# sourceMappingURL=style.css.map */
