.body{
	overflow-x: hidden;
}



.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}


.site-branding, #primary, #colophon{
	margin: 3rem;
}


